@charset "UTF-8";

$black: #131313;
$white: #fefefe;
$whiteClear: rgba(255, 255, 255, 0.5);
$gray01: #1a1a1a;
$gray02: #333333;
$gray03: #808080;
$gray04: #cccccc;
$gray05: #f2f2f2;
$colorYellow: #fcc721;
$colorYellow02: #ffe699;
$colorOrange: #fc8021;
$colorGreen: #39c181;
$colorRed: #fc4221;

$inner-lg: 1024px;
$inner-md: 920px;
$inner-sm: 720px;
$inner-sp: calc(100% - 32px);

$breakpoint-down: (
  "xs": "screen and (max-width: 320px)",
  "sm": "screen and (max-width: 375px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 960px)",
  "xl": "screen and (max-width: 1024px)",
) !default;

@mixin mq-down($bp: md) {
  @media #{map-get($breakpoint-down, $bp)} {
    @content;
  }
}

@mixin hoverBase($color: $black) {
  color: $color;
  text-decoration: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
    @include mq-down($bp: lg) {
      opacity: 1;
    }
  }
}
@mixin hoverReset() {
  transition: none;
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo,
    "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
  line-height: 1.6;
  color: $black;
  background-color: $white;
}
* {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 0.05em;
}
header,
footer,
section,
article,
aside,
nav,
figure,
figcaption,
main {
  display: block;
}
ul,
ol,
dl,
li,
dt,
dd {
  list-style: none;
}
input,
textarea,
select,
button {
  appearance: none;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  border: solid 1px $gray04;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  height: 40px;
  padding: 0 0.5em;
}
textarea {
  padding: 0.5em;
}
button {
  padding: 0.75em 1em;
  font-weight: bold;
  line-height: 1;
  background-color: $colorYellow;
  border: none;
  @include hoverBase;
}
img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
}
*:focus {
  outline: none;
}
.font-en {
  font-family: "Audiowide", "Noto Sans JP", "游ゴシック体", "Yu Gothic",
    YuGothic, Meiryo, "メイリオ", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka,
    sans-serif;
}
a,
a:visited {
  color: $black;
  text-decoration: none;
  transition: ease 0.4s;
  &:hover {
    opacity: 0.6;
  }
}
//インナー
.inner {
  display: block;
  max-width: $inner-lg;
  margin: 0 auto;
  &.md {
    max-width: $inner-md;
  }
  &.sm {
    max-width: $inner-sm;
  }
  @include mq-down($bp: xl) {
    width: $inner-sp;
    .inner {
      width: 100%;
    }
  }
}
//パーツ
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  transition: ease 0.2s;
  opacity: 0;
  .modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    width: calc(100% - 32px);
    height: auto;
    min-height: 200px;
    max-height: 90vw;
    padding: 16px;
    background-color: $colorYellow;
    border-radius: 16px;
    transform: translate(-50%, -50%) scale(0);
    transition: ease 0.2s;
  }
  &.open {
    display: block;
    pointer-events: auto;
    opacity: 1;
    .modal-body {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
.alert-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  transition: ease 0.2s;
  opacity: 0;
  .alert-body {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 32px);
    height: auto;
    min-height: 200px;
    padding: 32px 16px 16px;
    background-color: $colorYellow;
    border-radius: 16px;
    transform: translate(-50%, -50%) scale(0);
    transition: ease 0.2s;
  }
  &.open {
    display: block;
    pointer-events: auto;
    opacity: 1;
    .alert-body {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: $white;
  border: solid 2px $colorYellow;
  border-radius: 100%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 6px;
    background-color: $black;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.btn-back {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  color: $gray03;
  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 6px;
    border-top: solid 4px $colorYellow;
    border-left: solid 4px $colorYellow;
    transform: rotate(-45deg);
  }
}

.btn-cancel {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: $white;
  border: solid 2px $colorYellow;
  border-radius: 100%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 2px;
    background-color: $black;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.btn-sm {
  padding: 0.5em;
  font-size: 12px;
}

.btn-add {
  color: $white;
  background-color: $colorGreen;
}
.btn-done {
  color: $white;
  background-color: $colorOrange;
  pointer-events: none;
  opacity: 0.5;
  &.able {
    pointer-events: auto;
    opacity: 1;
  }
  &.full {
    width: 100%;
  }
}
.btn-deleat {
  color: $white;
  background-color: $colorRed;
  pointer-events: none;
  opacity: 0.5;
  &.able {
    pointer-events: auto;
    opacity: 1;
  }
  &.full {
    width: 100%;
  }
}
.btn-invitation {
  width: 100%;
  margin-top: 2em;
}

.childheader-wrap {
  margin-bottom: 16px;
}
.list-wrap {
  overflow: scroll;
  max-height: calc(100vh - 260px);
  min-height: 82px;
  background-color: $colorYellow;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  .list-inner {
    padding: 16px;
  }
}
.list {
  padding: 16px;
  & > * {
    padding: 0.75em 1em;
    font-weight: bold;
    & + * {
      border-top: dashed 1px $white;
    }
  }
}
.tab-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: $gray05;
    &.current {
      font-weight: bold;
      background-color: $colorYellow02;
    }
    &:nth-child(1) {
      border-top-left-radius: 16px;
    }
    &:nth-child(2) {
      border-top-right-radius: 16px;
    }
  }
}
.input-area {
  .title {
    margin-bottom: 0.5em;
    font-size: 14px;
    font-weight: bold;
  }
  .item {
    & + .title {
      margin-top: 1em;
    }
    & > * + * {
      margin-top: 0.5em;
    }
  }
}
.submit {
  margin-top: 1em;
  button {
    width: 100%;
    color: $white;
    background-color: $colorRed;
  }
}

//ヘッダー
#body-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9900;
  width: 100%;
  height: 60px;
  background-color: $colorYellow;
  .head-inner {
    padding: 0 16px;
    height: 100%;
    .head-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    .logo {
      a {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .slide-nav {
      position: fixed;
      top: 60px;
      right: 0;
      width: 280px;
      height: calc(100vh - 60px);
      background-color: $white;
      border-left: solid 16px $colorYellow;
      transform: translateX(100%);
      transition: ease 0.4s;
      & > * {
        display: block;
        width: 100%;
        padding: 1em;
        font-weight: bold;
        text-align: left;
        color: $gray01;
        background-color: $white;
        border-bottom: solid 2px $colorYellow;
      }
    }
    .nav-btn {
      position: relative;
      width: 40px;
      height: 40px;
      background-color: $colorYellow02;
      border-radius: 8px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 24px;
        height: 4px;
        background-color: $gray01;
        transition: ease 0.2s;
      }
      &::before {
        transform: translate(-50%, calc(-50% - 4px));
      }
      &::after {
        transform: translate(-50%, calc(-50% + 6px));
      }
    }
    &.open {
      .slide-nav {
        transform: translateX(0);
      }
      &::before {
        content: "";
        position: fixed;
        top: 60px;
        right: 0;
        display: block;
        width: 100vw;
        height: calc(100vh - 60px);
        background-color: rgba(255, 255, 255, 0.8);
      }
      .nav-btn {
        &::before {
          transform: translate(-50%, -50%) rotate(36deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-36deg);
        }
      }
    }
  }
}
.page-main {
  padding-top: 60px;
  & > .inner {
    padding-top: 16px;
  }
}
/* home */
.home-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .list-item {
    width: calc((100% - 16px) / 2);
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 120px;
      font-weight: bold;
      background-color: $colorYellow;
      border-radius: 16px;
    }
  }
}

/* mypage */
.mypage {
  .page-heading {
    font-weight: bold;
  }
}
.info-list {
  margin-top: 1em;
  & > div {
    padding-top: 14px;
    border-top: solid 1px $gray04;
    & + * {
      margin-top: 16px;
    }
    &.flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      dd {
        &:nth-of-type(1) {
          width: calc(100% - 90px);
        }
        &:nth-of-type(2) {
          width: 75px;
        }
      }
    }
  }
  dt {
    width: 100%;
    margin-bottom: 0.3em;
    font-size: 12px;
    font-weight: bold;
    color: $colorYellow;
  }
  .change-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn-cancel {
      margin-left: 10px;
    }
  }
}
/* shopping */
.list-add {
  text-align: center;
  input {
    display: block;
    width: 240px;
  }
  .btn-add {
    margin-top: 16px;
  }
}
.item-list {
  & label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: $white;
    transition: ease 0.2s;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      transform: translate(-50%, -50%) scale(0);
      background-color: $colorOrange;
      animation-name: doneScale;
      animation-duration: 0.1s;
      animation-fill-mode: forwards;
    }
    &:checked {
      &:before {
        animation-name: checkScale;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
      }
    }
    @keyframes checkScale {
      0% {
        transform: translate(-50%, -50%) scale(0);
      }
      75% {
        transform: translate(-50%, -50%) scale(1.2);
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    @keyframes doneScale {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }
      25% {
        transform: translate(-50%, -50%) scale(1.2);
      }
      100% {
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }
}
.btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 16px;
  & > * {
    width: calc((100% - 16px) / 2);
    line-height: 1.2;
  }
}
.join-area {
  .message {
    margin-bottom: 1em;
    text-align: center;
  }
  .join-inner {
    padding: 16px;
    background-color: $colorYellow;
    border-radius: 16px;
  }
}

.send-invitation {
  text-align: center;
  input {
    display: block;
    width: 280px;
    margin-top: 1em;
  }
  a {
    display: block;
    padding: 1em;
    margin-top: 1em;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    background-color: $colorGreen;
  }
}
